<nav>
    <ul class="nav-list">
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="#" title="Villes">Villes</a></li>
            <li><a href="#" title="Campus">Campus</a></li>
        {% endif %}
        <li><a href="{{ path('home_') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('app_profil') }}" title="Mon Profil">Mon Profil</a></li>
        {% if app.user %}
            <li><a href="{{ path('app_logout') }}" title="Se Déconnecter">Se Déconnecter</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}" title="Se Connecter">Se Connecter</a></li>
        {% endif %}
    </ul>
</nav>