<nav>
    <ul class="nav-list">
        <li><a href="#" title="Villes">Villes</a></li>
        <li><a href="#" title="Campus">Campus</a></li>
        <li><a href="{{ path('home') }}" title="Accueil">Accueil</a></li>
        <li><a href="#" title="Mon Profil">Mon Profil</a></li>
        <li><a href="#" title="Se Déconnecter">Se Déconnecter</a></li>
    </ul>
</nav>